<div class="container-fluid bg">
    <div class="text-center text-white pt-2">
      <a routerLink="/adminHome" style="color: white; text-decoration:none;">
        <h2><b><i>BlackPoolBus</i></b></h2>
      </a>
    </div>
    <button class="btn btn-danger bg-danger float-left m-1" routerLink="/adminHome">Home</button>



    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        
          <label for="terminal">Terminal:</label>
          <input type="text" class="form-control" id="terminal" name="terminal" formControlName="terminal" placeholder="Enter Terminal">
          <div *ngIf="locationForm.get('terminal')?.hasError('required')&& locationForm.get('terminal')?.touched " class="text-danger">
            Terminal is required.
          </div>
        
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" formControlName="city" placeholder="Enter City">
        <div *ngIf="locationForm.get('city')?.hasError('required')&& locationForm.get('city')?.touched" class="text-danger">
          City is required.
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="Country" formControlName="country" placeholder="Enter Country">
        <div *ngIf="locationForm.get('country')?.hasError('required')&& locationForm.get('country')?.touched" class="text-danger">
          Country is required.
        </div>
      </div>
      <div class="form-group">
        <input [disabled]="!locationForm.valid" type="submit" class="btn btn-danger" style="width: 100%;"
            value="Update"><br>
        <br>
    </div>
    </form>
</div>

<footer class="bg-dark fixed-bottom text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" style="text-decoration: none;" href="#">BlackPoolBus</a>
  </div>

</footer>


